@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;0,600;0,900;1,900&display=swap');

body{
	overflow-x: hidden;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 5))}
}

.slider {
	background: #FBD433;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	width: 100%;
	top: 35vh;
	margin: auto;
	overflow:hidden;
	position: relative;
}



::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 15);
}

.slide {
	height: 100px;
	width: 250px;
}

.rotate-image-left{
	rotate: 20deg;
}

.rotate-image-right{
	rotate: -17deg;
}